/* 
 * 全般
 * ==================================================================================================== */

/*
 * Font made from oNline Web Fonts is licensed by CC BY 3.0 http://www.onlinewebfonts.com
 * https://www.onlinewebfonts.com/download/84cb021d5f9af287ffff84b61beef6dc
 * https://db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons
 */
@font-face {
  font-family: "clockicons";
  src: url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot"); /* IE9 */
  src: url("./assets/clockicons.woff2") format("woff2"),  /* Local Woff2 */
       url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot?#iefix") format("embedded-opentype"),  /* IE6-IE8 */
       url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff2") format("woff2"),  /* Chrome Firefox */
       url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff") format("woff"),  /* Fhrome Firefox */
       url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.ttf") format("truetype"),  /* Chrome Firefox Opera Safari Android iOS 4.2+ */
       url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.svg#clockicons") format("svg");  /* iOS 4.1- */
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  color: #000;
  font-family: sans-serif;
  overflow: hidden scroll;
  overflow-wrap: break-word;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: objects;
  line-height: 1;
  background: #fff;
  white-space: nowrap;
  cursor: default;
}

body {
  margin: 0;
  padding: 0 !important;
}

input,
button {
  margin: 0;
  padding: .1rem .5rem;
  color: inherit;
  font-size: 16px;
  outline: 0;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

input:hover , input:focus,
button:hover, button:focus {
  border-color: #909090;
}

input {
  background: #fff;
}

button {
  background: #ececec;
  cursor: pointer;
}

button:hover, button:focus {
  background: #e0e0e0;
}

button[disabled] {
  color: #909090;
  background: #dcdcdc;
  cursor: not-allowed;
}

button[disabled]:hover, button[disabled]:focus {
  background: #d0d0d0;
}


/* 
 * Sticky
 * ==================================================================================================== */

.sticky {
  position: sticky;
  top: 0;
  padding: .5rem;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) .5rem);
}


/* 
 * ヘッダ
 * ==================================================================================================== */

.header {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  column-gap: .5rem;
  background: var(--nn-colour-blue);
}

.header > .header-title {
  margin: 0;
  font-size: .8rem;
}

.header > .header-link {
  font-size: .8rem;
}

.header a {
  color: #009;
  text-decoration: none;
}

.header a:hover,
.header a:focus {
  text-decoration: underline;
}


/* 
 * 時計プレビュー表示
 * ==================================================================================================== */

.face-time {
  padding-top: .5rem;
  font-family: clockicons, monospace;
  font-size: 8rem;
  text-align: center;
  user-select: none;
}

/* FIXME : もっと画面サイズに合わせてリニアにサイズ変更したいけど面倒臭いので諦める */
@media (min-width: 960px) {
  .face-time {
    font-size: 16rem;
  }
}

body.alarm .face-time {
  color: #f00;
}

.face-memo {
  overflow: hidden;
  padding-bottom: 1rem;
  text-align: center;
  text-overflow: ellipsis;
}


/* 
 * ボタン類
 * ==================================================================================================== */

.controls {
  overflow-x: auto;
  padding-bottom: .5rem;
  text-align: center;
}

.controls > .control-group:not(:first-child) {
  margin-left: 1rem;
}

.controls > .control-group > button:not(:first-child) {
  margin-left: .25rem;
}

.controls > .control-group > label > input[type="radio"] {
  margin-right: .2rem;
}

.controls > .control-group > label:last-child > input[type="radio"] {
  margin-left: .4rem;
}


/*
 * フォーム : リスト
 * ==================================================================================================== */

/* ol */
.form-list {
  margin: 0 .5rem 2rem;
  padding-left: 2rem;
}

/* li フォーム1行 */
.form-list > .form-list-item:not(:last-child) {
  margin-bottom: .15rem;
}

/* ol.form-list > li.form-list-item > div.row */
.row {
  display: grid;
  grid-template-columns: 4rem 1fr auto;
  column-gap: .5rem;
}

/* 秒数入力欄 */
.row > label > .row-seconds {
  width: 4rem;
  text-align: right;
}

.row > label > .row-seconds.ng-invalid {
  border-color: #f00;
}

/* メモ入力欄 */
.row > .row-memo {
  width: 100%;
  min-width: 6rem;
}

/* 1行のボタン類 */
.row > .row-controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: .2rem;
}

/* button */
.row > .row-controls > .row-button {
  width: 1.8em;
  padding-right: 0;
  padding-left : 0;
  text-align: center;
}
